#headerwrap
  .container
    .row
      .col-lg-6
        %h1 Find your phone dimensions.
        %br/
        = form_for(:search, url: '/search', method: :get, remote: true, html: { class: 'form-inline'}) do |f|
          .form-group
            = f.text_field(:query, class: 'form-control', placeholder: 'Enter phone model', required: true)
          = f.submit('Search', class: 'btn btn-warning btn-lg')
          - @crawlers.each do |crawler|
            = f.radio_button :crawler, crawler.camelize, checked: true
            = f.label :crawler, crawler.humanize

    %h3#search-result
