.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.navbar-brand{ href: 'https://bitbucket.org/belovamarina/phone_dimensions' }
            %b BITBUCKET
